
  <%- include('partials/header'); -%>

  <!-- The mid part is discussed here -->

  <div class="mid">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-9">
          <div class="title">
            <h2><%= title %></h2>
            <img src="data:image/jpg||png;base64,<%= titleImage %>" alt="Title Image">
          </div>
          <p><%= content %></p>
          <hr>
          <hr>
          <br>
          <div class="prevComments">
            <h3><%= (comments.length)/2 %> Comments</h3>
            <ul class="list-group">
              <% for (var j =0; j<comments.length; j=j+2){ %>
                <li class="list-group-item"><b><span><%= comments[j+1] %></span></b>
                <span><%= comments[j] %></span></li>
              <%}%>
            </ul>
          </div>
          <div class="someComments">
            <form class="draftComment" action="/comment" method="post">
              <label for="exampleFormControlTextarea1" class="form-label">Leave Comment</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" name="commentArea"></textarea>
              <button type="submit" class="btn btn-outline-dark btn-sm" name="commentButton" value="/category/<%= t %>/posts/<%= postid %>/">Submit</button>
            </form>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="reqd">
            <div class="sides">
              <h6>About</h6>
              <p>about the author</p>
              <br>
              <hr>
              <h4>DISCOVER MORE OF WHAT MATTERS TO YOU</h4>
              <form action="/category" method="post">
                <button type="submit" class="btn btn-outline-dark" name="field" value="Self">Self</button>
                <button type="submit" class="btn btn-outline-dark" name="field" value="Photography">Photography</button>
                <button type="submit" class="btn btn-outline-dark" name="field" value="Travel">Travel</button>
                <button type="submit" class="btn btn-outline-dark" name="field" value="Work">Work</button>
                <button type="submit" class="btn btn-outline-dark" name="field" value="Foods & Drinks">Foods & Drinks</button>
                <button type="submit" class="btn btn-outline-dark" name="field" value="Lifestyle">Lifestyle</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<%- include('partials/footer'); -%>
